<h1>New Faction</h1>

<%= form_with url: '/factions', method: :post, local: true do |form| %>
  <%= form.text_field :name, placeholder: 'Name' %>
  <%= form.text_field :description, placeholder: 'Description' %>
  <%= form.submit 'Add Faction' %>
<% end %>
