<h1>Weapon Types</h1>

<% @weapontypes.each do |type| %>
  <h3><%= link_to type.name, "/weapontypes/#{type.id}" %></h3>
<% end %>
<br/>
<%= link_to 'Home', '/' %>
<br/>
<%= link_to 'New Weapon', '/weapons/new' %>
